* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

main {
  width: 90vw;
  height: 100vh;
  margin: 100px auto;
  position: relative;
}

.section-1,
.section-2,
.section-3 {
  margin-right: 50px;
}
.section-1 {
  display: inline-block;
  width: 500px;
  height: 300px;
  position: absolute;
  left: 10px;
  padding-right: 30px;
  border: 1px solid transparent;
  border-radius: 10px;
  background: linear-gradient(
    90deg,
    rgba(254, 190, 154, 1) 0%,
    rgba(255, 133, 151, 1) 100%
  );
}

.section-2 {
  display: inline-block;
  width: 500px;
  height: 300px;
  position: absolute;
  left: 550px;
  border: 1px solid transparent;
  border-radius: 10px;
  background: linear-gradient(
    270deg,
    rgba(21, 143, 226, 1) 0%,
    rgba(139, 200, 245, 1) 100%
  );
}

.section-3 {
  display: inline-block;
  width: 500px;
  height: 300px;
  position: absolute;
  left: 1090px;
  border: 1px solid transparent;
  border-radius: 10px;
  background: linear-gradient(
    270deg,
    rgba(46, 217, 197, 1) 0%,
    rgba(125, 217, 210, 1) 100%
  );
}

.header-text,
.parag-text,
.parag-text-2 {
  position: absolute;
  color: whitesmoke;
  font-family: sans-serif;
}

.header-text {
  font-size: 1.5em;
  top: 60px;
  left: 50px;
}

.parag-text {
  font-size: 3em;
  top: 80px;
  left: 50px;
}

.parag-text-2 {
  font-size: 1.4em;
  top: 190px;
  left: 50px;
}

.circle-1 {
  display: block;
  width: 250px;
  height: 250px;
  position: absolute;
  right: -70px;
  top: -30px;
  border: 1px solid whitesmoke;
  background: white;
  border-radius: 50%;
  opacity: 20%;
}

.circle-2 {
  display: block;
  width: 300px;
  height: 300px;
  position: absolute;
  right: -50px;
  bottom: -140px;
  border: 1px solid whitesmoke;
  background: white;
  border-radius: 50%;
  opacity: 20%;
}